body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.elevate {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12)
}

.navbar.bg-dark {
  background-color: #2196f3 !important;
}

.container {
  margin-top: 100px;
}

.red-bg {
  background-color: #ba000d !important;
  color: #fff;
}

.paper {
  margin: 20px 0;
  background-color: #fff;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.paper .header, .body, .footer {
  padding: 16px 24px;
}

.paper .header .sub-title {
  font-size: 0.85em;
}

.paper hr {
  margin: 0;
  padding: 0;
}

.paper .footer {
  background-color: #f4f4f4;
}

.btn-primary {
  background-color: #ffc947 !important;
  border-color: #ffc947;
}

.btn-primary:hover {
  background-color: #ffc947 !important;
  border-color: #ffc947;
}

.btn-primary:active {
  background-color: #ffc947 !important;
  border-color: #ffc947;
}

ul.dropdown.menu {
  position: absolute;
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 0;
  display: block;
  list-style: none;
  z-index: 100;
}

.dropdown.menu li {
  padding: 10px 20px;
  cursor: pointer;
  user-select: none;
}

.dropdown.menu li:hover {
  background-color: #efefef;
}

.alert {
  position: relative;
}

.alert-close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}